.comment-box, .comment-down{
    display: flex;
    padding: 10px;
    
}

nav{
    background-color: rgb(255, 255, 255);
    padding: 3px 30px;
}

nav h6 {
    border: 5px solid rgba(228, 228, 228, 0.244);
    border-radius: 3px;
    box-shadow: 2px 2px #696969;
    display: inline-block;
    padding: 5px 25px;
}

.comment-box .box1{
    border: 2px solid rgba(128, 128, 128, 0.244);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px #696969;
    width:20%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.comment-down .box1{
    border: 2px solid rgba(128, 128, 128, 0.244);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px #696969;
    width:20%;  
    margin: 10px;
    background-color: rgb(255, 255, 255);

}


#pics{
    border-radius: 50%;
    float: right;
    width: 15%;
}

.second{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.smallbox{
    border: 1px solid rgba(40, 21, 182, 0.815);
    font-size: small;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 30px;
    margin-left : 20px;
    display: inline-block;
}

body{
    background-color: rgba(237, 239, 243, 0.874);
    margin: 0%;
}